<div class="container-fluid" ng-controller="PlayerViewWinnerCtrl">
  <div class="row">
    <div class="col-is-1 col-sm-1 col-md-3"></div>
    <div class="col-xs-12 col-is-10 col-sm-10 col-md-6">
      <div class="Card">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="Card-title text-center {{textColour}}">
              <div class="Card-font">{{result}}</div>
            </div>
            <div class="divider"></div>
            <div class="Card-primary-text text-center">{{message}}</div>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
      <div class="col-is-1 col-sm-1 col-md-3"></div>
    </div>
  </div>
</div>
