
.u-wordPerLine {
    word-spacing: 500px;
    padding: .5px 20px;
    text-align: left;
}

.u-text--large {
    font-size: 2em;
}


.divider {
    border-bottom: 1px solid #ccc;
    margin: 15px 0px;
}

.u-vCentre {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
