<div ng-controller="TvRejoinLobbyCtrl">
  <div class="header">
    <h1 class="text-muted text-center">Resetting Round</h1>
  </div>

  <div class="jumbotron">
    <!--List of players that have joined the new game-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Waiting for players to rejoin:</h3>
      </div>
      <div ng-repeat="player in players">
        <button type="button" class="btn btn-lg btn-success" ng-show="!player.rejoin"
        ng-click="playerRejoin(player.name)">{{player.name}}</button>
      </div>
    </div>

  </div>
</div>
